

.weather-container {
    font-style: italic;
    background-color: #bd86ba;
    margin-top: 40px;
    border-radius: 20px;
    padding-top: 20px;
    height: 160px;
    box-shadow: 20px 4px 15px; color: black;
    font-weight: bold;
    text-align: center;
}

.weather-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:50px;

}

.weather-input {
    background-color: #76bdd9;
    padding: 10px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 10px 4px 15px; color: black;
}

.weather-button {
    padding: 10px 30px;
    background-color: #00bbff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 20px 5px 25px;
    color: black;
    float: right;


}

.weather-title {
    text-align: center;
    margin: 0;
    padding: 10px;
}

.weatherFive-container{
    font-style: unset;
    background-color: #00bbff;
    margin-top: 60px;
    border-radius: 20px;
    padding-top: 20px;
    height: 200px;
    box-shadow: 20px 4px 15px; color: black;
    font-weight: bolder;
    text-align: center;
}
.progress-bar {
    text-align: center;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto;
    grid-gap: 10px;
    border: 1px solid #ccc;
    padding-left: 10px;
    padding-right: 10px;
}
.grid-item {
    padding: 100px;
    position: relative;
    overflow: clip;
    cursor: pointer;
}